a[role=button], button {
    font-size: 1em;
    padding:  0.15em .75em;
    margin-left: .25em;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}